# Copyright (c) 2024 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

config GPIO_RTS5816
	bool "RTS5816 gpio driver"
	depends on DT_HAS_REALTEK_RTS5816_GPIO_ENABLED
	default y
	help
	  Enable driver for RTS5816 gpio.
