# Copyright (c) 2025 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

# Enable clocks
CONFIG_CLOCK_CONTROL=y

# Enable reset
CONFIG_RESET=y

# Enable serial console
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable gpio
CONFIG_GPIO=y

# Enable watchdog
CONFIG_WATCHDOG=y
CONFIG_WDT_DISABLE_AT_BOOT=y

# Enable flash
CONFIG_FLASH=y

# Enable regulator
CONFIG_REGULATOR=y

# Enable SPI
CONFIG_SPI=y
CONFIG_SPI_ASYNC=y
CONFIG_HEAP_MEM_POOL_SIZE=32768

# Enable USB device
CONFIG_UDC_DRIVER=y
CONFIG_USB_DEVICE_STACK_NEXT=y

# Enable entropy
CONFIG_ENTROPY_GENERATOR=y
