# Copyright (c) 2024 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

# enable clocks
CONFIG_CLOCK_CONTROL=y

# enable reset
CONFIG_RESET=y

# enable serial console
CONFIG_SERIAL=y
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y


# enable gpio
CONFIG_GPIO=y

# enable watchdog
CONFIG_WATCHDOG=y
CONFIG_WDT_DISABLE_AT_BOOT=y

# enable flash
CONFIG_FLASH=y

# enable regulator
CONFIG_REGULATOR=y

# enable SPI
CONFIG_SPI=y
CONFIG_SPI_ASYNC=y
CONFIG_HEAP_MEM_POOL_SIZE=65536
