# Copyright (c) 2024 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

config FLASH_RTS5816_QSPI
	bool "RTS5816 flash driver"
	depends on DT_HAS_REALTEK_RTS5816_QSPI_ENABLED
	default y
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EXPLICIT_ERASE
	help
	  Enable RTS5816 Flash driver.
