# Copyright (c) 2024 Realtek Semiconductor, Inc.
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_RTS5816
	bool "RTS5816 pin controller driver"
	default y
	depends on DT_HAS_REALTEK_RTS5816_PINCTRL_ENABLED
	help
	  Enable driver for RTS5816 pin controller.
